<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu-light.html">


<link rel="import" href="shared-styles.html">
<dom-module id="select-box-user">
  <template>
		<paper-dropdown-menu label="Dinosaurs">
		  <paper-listbox slot="dropdown-content" class="dropdown-content" selected="1">
		    <paper-item>allosaurus</paper-item>
		    <paper-item>brontosaurus</paper-item>
		    <paper-item>carcharodontosaurus</paper-item>
		    <paper-item>diplodocus</paper-item>
		  </paper-listbox>
		</paper-dropdown-menu>
  </template>

  <script>
    class SelectBoxUser extends Polymer.Element {
      static get is() { return 'select-box-user'; }
    }
    window.customElements.define(SelectBoxUser.is, SelectBoxUser);
  </script>
</dom-module>
