<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="shared-styles.html">
<dom-module id="my-view1">

  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
     
      <h1>Select the Chat Room Category</h1>
      <iron-ajax
      auto
      url="src/user.json"        
      handle-as="json"
      on-response="myMethod"
      debounce-duration="300"></iron-ajax>
      <paper-dropdown-menu label="Select Chat room" id="select-box">
        <paper-listbox slot="dropdown-content" selected="{{userSelcted}}" >
          <template is="dom-repeat" items="{{userItems}}">
              <paper-item>[[item.categoryName]]</paper-item>
          </template>          
        </paper-listbox>
      </paper-dropdown-menu>    
     <div>

      <paper-button raised on-click="joinRoom">Join Chat Room</paper-button>
      <!-- <a name="view1" href="/view2">View One</a>  -->
     </div>
     
    
    </div>
    
  </template> 

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties(){
        return{
        userItems:{
           type:Object,
          value:{}
        }
        }
      }
      joinRoom(){
        localStorage.setItem("userItems",JSON.stringify(this.userItems));
       localStorage.setItem("selectedchatroom",this.userSelcted);
       window.location.href='/view2'
      }     
      myMethod(e){
        this.userItems=e.detail.__data.response;
      }
    }

    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
